HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
assets/stuff/stuff/.DS_Store
assets/stuff/stuff/css/.DS_Store
assets/stuff/stuff/fonts/.DS_Store
assets/stuff/stuff/fonts/bootstrap/.DS_Store
assets/stuff/stuff/fonts/icomoon/.DS_Store
assets/stuff/stuff/images/.DS_Store
assets/stuff/stuff/js/.DS_Store
assets/stuff/stuff/sass/.DS_Store